
@{
    ViewData["Title"] = "Index";
}

<h1>Curso Controller</h1>
<div id="table">

</div> 


<h3>alert entrada</h3>

<script src="~/jquery/jquery-3.6.3.min.js"></script>
<script src="~/js/curso.js"></script>


<h3>alert salida</h3>