@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<label>Ingrese numero 1</label>
<input type="text" id="txtNumeroUno" />
<label>Ingrese numero 2</label>
<input type="text" id="txtNumeroDos" />
<input type="button" id="btnSumar" value="Sumar" />
<input type="button" id="btnLimpiar" value="Limpiar" />
<label id="lblResultado"></label>


<script src="~/js/sumar.js"></script>

