@{
    ViewData["Title"] = "Tabla";
}

<h1>Tabla</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ezequiel</td>
            <td>Taboada</td>
            <td>Insaurralde</td>
        </tr>
        <tr>
            <td>Lorenzo</td>
            <td>Lamas</td>
            <td>Perez</td>
        </tr>
    </tbody>
</table>
